page-landing {
    .button--login-now {
        float: right;
    }
    // .button--register-now {

    // }

    .button--authentication {
        width: 100%;
        background: rgb(0, 167, 223);
    }
}
